body{
    margin: 0;
    font: 17px/1.5 'Raleway', sans-serif;
    box-sizing: border-box;
    background-color: #eee;
}

.clr{
    clear: both;
}

.wrapper{
   max-width: 1600px;
   margin: auto;
}

.upper-content{
    width: 80%;
    margin-left:300px;
    display: grid;
}

#side-bar{
    display: block;
    position: fixed;
    width: 200px;
    height: 100%;
    font-size: 20px;
    background-color: #fff;
    padding: 40px;
}

#side-bar .pro-img{
    width: 100%;
    height: 250px;
}

#side-bar ul{
    list-style: none;
    padding: 0;
}
#side-bar ul li{
    padding: 10px 0;
}
#side-bar ul li a{
    text-decoration: none;
    display: block;
    color: black;
}

#side-bar .fas{
    padding-right: 10px;
}

#side-bar ul li:hover{
    background-color: lightgray;
}

#side-bar ul li img{
    padding-right: 10px;
}

#header .nav-bar span{
    margin-right: 20px;
}

#header .pro-img{
    display: none;
}

#header .nav-bar #first{
    background-color: black;
    color: #eee;
    padding: 10px 20px;
    border: none;
}
#header button{
    border: none;
    background-color: #fff;
    padding: 10px 10px;
}

#header button:hover, #header #first:hover{
    background-color: lightgray;
    color: black;
}

#header .far, #header .fas {
    padding-right: 10px;
}

#header{ 
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 5px solid lightgray;
}

#section-a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

#section-a img{
    width: 100%;
    
}

#section-a .img-boxes{
    text-align: left;
    background-color: #fff;
}

#section-a .content-a{
    padding: 0 15px;
}

#page-numbers{
    text-align: center;
    margin: 40px 0;
}

#page-numbers a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
}

#page-numbers a:hover{
    background-color: black;
    color: white;
}

#section-b .about-img{
    float: left;
    width: 49%;
    height: 400px; 
    
}

#section-b .one{
    padding-right: 2%; 
}

#section-b .content-b{
    padding: 20px 0;
}

.lower-content{
    width: 81%;
    margin-left:280px;
    
}

#section-c{
    background-color: lightgray;
    padding: 10px 20px 30px 20px;
}

#section-c .col-c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#section-c .col-c .col-c-1,
#section-c .col-c .col-c-3{
    background-color: gray;
    color: #fff;
    padding: 10px 0;
}

#section-c .col-c .col-c-2{
    background-color: #009688;
    color: #fff;
    padding: 10px 0;
}

#section-d{
    background-color: gray;
    color: #fff;
    padding: 10px 20px 30px 20px;
    font-size: 15px;
}

#section-d .col-d{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.col-d-1 a{
    color: #fff;
}

#section-d img{
    width: 60px;
    height: 50px;
}
#section-d .col-d hr{
    margin: 0;
    border: none;
    height: 1px;
    background-color: lightgray;
}

#section-d .col-d .d-blog-post{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

#section-d .col-d .d-blog-post:hover{
    background-color: lightgray;
}
#section-d .col-d-3 #tags span{
    font-size: 12px;
    background-color: lightgray;
    color: black;
    padding: 2px 4px;
}

#section-d .col-d-3 #tags span:hover{
    background-color: black;
    color: #fff;
}

#footer{
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 30px 0;
}

#footer p{
    margin: 0;
}

#footer p a{
    color: #fff;
}

@media (max-width: 800px){
    #side-bar{
        display: none;
    }

    .upper-content{
        width: 95%;
        margin:auto;
    }
    .lower-content{
        width: 100%;
        margin:auto;
        
    }

    .clr{
        clear: both;
    }
    #header .pro-img{
        display: inline;
        float: right;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 20px;
    }
    #header .nav-bar{
        float: left;
    }
}

@media (max-width: 600px){
    #header .nav-bar .mobile-hide{
        display: none;
    }

    #section-a{
        display: block;
    }

    #section-b .about-img{
        float: none;
        width: 100%;
    }

    #section-c .col-c{
        display: block;
        
    }

    #section-c .col-c p{
        margin-bottom: 0;
    }

    #section-d .col-d{
        display: block;
    }
}